---
import Layout from "@layouts/Layout.astro";
---

<section class="relative h-svh w-full">
  <!-- Background -->
  <div
    class="absolute inset-0 w-full h-full bg-cover bg-center bg-no-repeat bg-emerald-800"
  >
  </div>
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Teks -->
  <div class="relative h-screen max-w-7xl mx-auto px-8 lg:px-12 sm:px-10">
    <div class="flex items-center h-full max-w-xl">
      <div class="space-y-4">
        <p class="font-bold uppercase text-sm text-white leading-tight">
          The Story of
        </p>
        <h1 class="font-bold text-4xl text-gray-200">Molvska</h1>
      </div>
    </div>
    <div class="absolute w-full left-0 bottom-12">
      <div class="w-full">
        <p
          class="text-center text-white uppercase font-semibold flex flex-col items-center gap-y-6"
        >
          discover our story
          <span
            class="hover:cursor-pointer transition-all duration-300"
            onclick="document.getElementById('about').scrollIntoView({behavior: 'smooth'});"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-8 h-8 animate-slide-down"
              ><path d="m6 9 6 6 6-6"></path></svg
            >
          </span>
        </p>
      </div>
    </div>
  </div>
</section>

<Layout pageTitle="Home">
  <!-- About -->
  <section
    class="relative overflow-hidden h-screen grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto"
  >
    <div
      class="relative flex flex-col justify-center order-last md:order-first about-section"
    >
      <p
        class="uppercase text-sm font-semibold tracking-wider text-gray-600 mb-2"
      >
        about molvska
      </p>
      <h2
        class="text-4xl sm:text-5xl font-bold text-gray-800 mb-6 leading-tight capitalize"
      >
        transform your space with a perfect wardrobe
      </h2>

      <div class="text-description text-gray-700 space-y-4">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam
          eos distinctio, illum dolorum recusandae neque perspiciatis fugit
          voluptates aliquid commodi illo id voluptas! Totam!.
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
          quibusdam soluta quae iste ipsum reiciendis ipsa corrupti quis et
          illo?
        </p>
      </div>
    </div>

    <div
      class="image-container relative flex items-center order-first md:order-last"
    >
      <div
        class="absolute inset-0 bg-gradient-to-r from-blue-50 to-transparent opacity-20 z-0"
      >
      </div>
      <div class="w-full aspect-[4/3]">
        <img
          src="/images/furnitur-1.jpg"
          alt="Workers managing plastic materials in warehouse"
          class="w-full h-full object-cover rounded-lg shadow-lg relative"
        />
      </div>
    </div>
  </section>

  <!-- Compro -->
  <section
    class="relative overflow-hidden h-screen grid grid-cols-1 md:grid-cols-2 md:gap-8 gap-4 mx-auto"
  >
    <div class="image-container relative flex items-center">
      <div
        class="absolute inset-0 bg-gradient-to-r from-blue-50 to-transparent opacity-20 z-0"
      >
      </div>
      <div class="w-full aspect-[4/3]">
        <img
          src="/images/furnitur-1.jpg"
          alt="Workers managing plastic materials in warehouse"
          class="w-full h-full object-cover rounded-lg shadow-lg relative"
        />
      </div>
    </div>

    <div class="profile-section relative flex flex-col justify-center">
      <p
        class="uppercase text-sm font-semibold tracking-wider text-gray-600 mb-2"
      >
        company profile
      </p>
      <h2
        class="text-4xl sm:text-5xl font-bold text-gray-800 mb-6 leading-tight capitalize"
      >
        molvska
      </h2>

      <div class="text-description text-gray-700 space-y-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima
          voluptate cumque error. Voluptates quisquam illum dignissimos, ullam,
          aliquid ipsa corporis atque cum ducimus asperiores laborum alias
          adipisci soluta beatae eum..
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
          officia, architecto ipsum earum ipsam ex cumque ad quia, quaerat, amet
          unde animi quibusdam officiis! Molestiae labore dolorum fugiat veniam
          eligendi aliquam commodi voluptates. Labore, aut!.
        </p>
      </div>
    </div>
  </section>

  <!-- // VisionMissionSection.astro -->

  <section
    class="vision-mission-section relative h-screen grid grid-cols-1 md:grid-cols-2 py-20 px-4 max-w-7xl mx-auto"
  >
    <div
      class="vision-container relative overflow-hidden min-h-[300px] text-center flex flex-col items-center justify-center p-8 sm:border-r border-gray-200 sm:border-b-0 border-b"
    >
      <div class="watermark">V</div>
      <h2 class="text-3xl md:text-4xl font-bold text-slate-700 mb-8 relative">
        Our Vision
      </h2>
      <p class="text-slate-600 max-w-md mx-auto leading-relaxed relative">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis,
        labore qui! Non necessitatibus optio natus. Ipsum dicta corrupti
        suscipit error ipsam, perferendis totam natus! Eaque.
      </p>
    </div>

    <div
      class="mission-container relative overflow-hidden min-h-[300px] text-center flex flex-col items-center justify-center p-8"
    >
      <div class="watermark">M</div>
      <h2 class="text-3xl md:text-4xl font-bold text-slate-700 mb-8 relative">
        Our Mission
      </h2>
      <div class="text-slate-600 max-w-md mx-auto leading-relaxed relative">
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
          distinctio?.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quasi
          fuga suscipit.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
          maiores, dicta natus quos consequatur consequuntur, optio officiis
          inventore error iusto nemo culpa.
        </li>
      </div>
    </div>
  </section>

  <section class="mx-auto w-full text-center">
    <a
      href="/collections"
      class="inline-flex items-center gap-x-2 text-xl font-semibold bg-slate-200 hover:bg-white hover:scale-105 transition-all duration-200 px-4 py-2 rounded-md border hover:border-white"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-5 h-5"
        >
          <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"
          ></path>
          <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"> </path>
          <path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"> </path>
          <path d="M2 7h20"></path>
          <path
            d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"
          ></path>
        </svg>
      </span>
      Get Our Collections
    </a>
  </section>
</Layout>

<style>
  .about-section::before {
    content: "ABOUT US";
    position: absolute;
    font-size: clamp(15px, 20vw, 100px);
    font-weight: 900;
    opacity: 0.03;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* white-space: nowrap; */
    text-align: center;
    z-index: 0;
    pointer-events: none;
  }

  .profile-section::before {
    content: "COMPANY PROFILE";
    position: absolute;
    font-size: clamp(15px, 20vw, 100px);
    font-weight: 900;
    opacity: 0.03;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* white-space: nowrap; */
    text-align: center;
    z-index: 0;
    pointer-events: none;
  }

  .watermark {
    position: absolute;
    font-size: clamp(200px, 40vw, 400px);
    font-weight: 900;
    opacity: 0.03;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000;
    pointer-events: none;
  }
</style>
