---
import { Image } from "astro:assets";
import Search from "@components/SearchComponent.astro";

const listmenu = [
  {
    page: "home",
    path: "/",
  },
  {
    page: "collections",
    path: "/collections",
  },
  {
    page: "studio",
    path: "/studio",
  },
];

const pathname = Astro.url.pathname;
---

<nav
  class:list={[
    "fixed top-0 w-full transition-all duration-300 z-[5]",
    pathname === "/" ? "text-white" : "text-slate-800 shadow-md",
  ]}
  id="navbar"
>
  <div class="max-w-7xl mx-auto md:px-12 px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a href="/" class="flex items-center gap-x-2">
          <Image
            src="/logo-dummy.png"
            alt="logo"
            width={40}
            height={40}
            loading={"lazy"}
            class="h-10 w-10 inline-block p-1 rounded-full bg-white border"
          />

          <span
            class="font-bold text-xl after:content-[''] after:block after:border-b-2 after:transition-all after:duration-300 after:scale-x-0 after:origin-center hover:after:scale-x-100"
            id="navTitle">Molvska</span
          >
        </a>
      </div>
      <div class="ms-auto">
        <div class="flex gap-x-4">
          <div class="md:flex hidden items-center gap-x-8">
            {
              listmenu.map((item) => (
                <a
                  href={item.path}
                  class="uppercase font-semibold after:content-[''] after:block after:border-b-2 after:transition-all after:duration-300 after:scale-x-0 after:origin-center hover:after:scale-x-100 item-menu"
                >
                  {item.page}
                </a>
              ))
            }
          </div>
          <Search />
        </div>
      </div>
      <div class="md:hidden">
        <button id="toggleButton" class="block md:hidden focus:outline-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              id="menuIcon"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Offcanvas / Mobile menu -->
<div
  id="offcanvas"
  class="transition-transform duration-300 ease-linear bg-gray-200 bg-gradient-to-r from-gray-200 to-gray-400 fixed top-0 left-0 w-10/12 flex flex-col p-6 sm:hidden gap-y-6 z-[1035] -translate-x-[100%] h-screen"
>
  <div class="flex justify-between items-center">
    <a href="/" class="flex items-center align-middle font-bold text-xl">
      <img
        src="/logo-dummy.png"
        alt="logo"
        class="h-10 w-10 inline-block mx-2 p-0.5 bg-white rounded-full"
      />
      Molvska
    </a>
  </div>
  {
    listmenu.map((item) => (
      <a
        class="uppercase font-medium text-gray-800 bg-gradient-to-r from-gray-300 to-gray-200 px-2 py-2 rounded shadow-lg text-left"
        href={item.path}
      >
        {item.page}
      </a>
    ))
  }
</div>

<script>
  const toggleButton = document.getElementById("toggleButton") as HTMLElement;
  const offcanvas = document.getElementById("offcanvas") as HTMLElement;
  const menuIcon = document.getElementById("menuIcon") as HTMLElement;
  const navbar = document.querySelector("#navbar") as HTMLElement;
  const itemMenu = document.querySelectorAll(
    ".item-menu"
  ) as NodeListOf<HTMLElement>;
  const navTitle = document.querySelector("#navTitle") as HTMLElement;

  let isMenuOpen = false;

  if (toggleButton && offcanvas && menuIcon) {
    toggleButton.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen;
      if (isMenuOpen) {
        offcanvas.classList.remove("-translate-x-[100%]");
        offcanvas.classList.add("visible", "translate-x-0");
        menuIcon.setAttribute("d", "M6 18L18 6M6 6l12 12");
      } else {
        offcanvas.classList.add("-translate-x-[100%]");
        offcanvas.classList.remove("visible", "translate-x-0");
        menuIcon.setAttribute("d", "M4 6h16M4 12h16m-7 6h7");
      }
    });
  } else {
    console.error("Toggle button, offcanvas, or menu icon not found.");
  }

  if (navbar) {
    window.addEventListener("scroll", () => {
      const scrollPosition = window.scrollY > 80;
      navbar.classList.toggle("bg-white", scrollPosition);
      itemMenu.forEach((item) =>
        item.classList.toggle("text-slate-800", scrollPosition)
      );
      navTitle.classList.toggle("text-slate-800", scrollPosition);
    });
  }

  const setActive = () => {
    const currentPath = window.location.pathname;

    itemMenu.forEach((item) => {
      const itemPath = item.getAttribute("href");
      if (itemPath === currentPath) {
        item.classList.add("after:scale-x-100");
        item.classList.remove("after:scale-x-0");
      } else {
        item.classList.remove("after:scale-x-100");
        item.classList.add("after:scale-x-0");
      }
    });
  };

  document.addEventListener("DOMContentLoaded", setActive);
</script>
